/* ===========  Common ================== */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.username{
    margin: 1em 2em;
    font-weight: 600;
    padding: 0.5em;
    border-radius: 0.4rem;
    font-size: 18pt;
    color: var(--secondary);
    background-color: var(--accent-two)
}

/* ===========  Common ================== */


/* ===========  WelcomePage ================== */

.welcome-wrap{
    display: block;
    position: relative;
    text-align: center;
    padding: 5em 0;
}

.app-title{
    font-family: "Poppins", sans-serif;
    color: var(--text-one);
    font-size: 3em;
}

.info-cards{
    display: flex;
    justify-content: center;
    gap: 1em;
    align-items: center;
}

.info-cards .card{
    background-color: var(--primary);
    padding: 4em;
    color: var(--text-one);
    font-weight: 600;
    border-radius: 2rem;
    transition: .5s;
    box-shadow: 2px 2px 15px  rgba(0,0,0,0.3);
}

.gt{
    margin: 3em;
    text-align: center;
}

.gt .btn{
    background-color: var(--text-one);
    text-decoration: none;
    color: var(--secondary);
    font-weight: 600;
    padding: 1em;
    border-radius: 0.5em;
}
 
/* ===========  WelcomePage ================== */


/* ===========  Auth ================== */
.back-btn{
    display: block;
    background-color: var(--text-one);
    color: var(--secondary);
    padding: 1em;
    margin: 1em;
    width: max-content;
    text-decoration: none;
    border-radius: 1rem;
}

.auth-form{
    position: relative;
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%,50%);
    width: max-content;
    padding: 2em;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 1px 2px 15px rgba(0,0,0,0.3);
}

.auth-form label{
    font-size: 16pt;
}


.auth-form .input{
    width: 300px;
    height: 40px;
    padding: 0.2em;
    font-size: 16pt;
}

.auth-form .btn{
    background-color: var(--text-one);
    color: var(--secondary);
    margin: 1em 0;
    font-size: 12pt;
    padding: 1em;
    border: none;
    display: block;
    width: 100%;
    border-radius: 0.5rem;
}

/* ===========  Auth ================== */

/* ===========  Carousel ================== */

.carousel {
    position: relative;
    width: 300px;
    margin: 0 auto;
    overflow: hidden;
  }

  .carousel-content {
    display: flex;
    transition: transform 0.5s ease;
  }

  .carousel-slide {
    min-width: 100%;
    transition: opacity 0.5s ease;
  }

  .carousel-controls {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  .carousel-controls .next-btn{
    margin-left: auto;
  }
/* ===========  Carousel ================== */

