/* ===========  Common ================== */

.navbar {
    width: 100%;
    padding: 10px;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.home-button {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #4caf50;
    transition: background-color 0.3s ease;
}

.home-button:hover {
    background-color: #45a049;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main{
  min-height: 90vh;
}

.username{
    margin: 1em 2em;
    font-weight: 600;
    padding: 0.5em;
    border-radius: 0.4rem;
    font-size: 16pt;
    color: var(--secondary);
    background-color: var(--accent-two)
}

.stack-title{
  text-align: center;
  margin-bottom: 1em;
}


.info-cards{
    display: flex;
    justify-content: center;
    gap: 2em;
    align-items: center;
}

.info-cards .card{
    background-color: var(--primary);
    padding: 4em;
    color: var(--text-one);
    font-weight: 600;
    border-radius: 1rem;
    transition: .5s;
    box-shadow: 2px 2px 15px  rgba(0,0,0,0.3);
    text-decoration: none;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1em;
}

.footer a{
  text-decoration: none;
  color: var(--text-one);
  cursor: inherit;
}

/* ===========  Common ================== */


/* ===========  WelcomePage ================== */

.welcome-wrap{
    display: flex;
}

.part-a{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3em;
  gap: 1em;
}



.app-title{
    font-family: "Poppins", sans-serif;
    color: var(--text-one);
    font-size: 4em;
    /* text-align: center; */
}



 

.gt .btn{
    background-color: var(--text-one);
    text-decoration: none;
    color: var(--secondary);
    font-weight: 600;
    padding: 1em;
    border-radius: 0.5em;
}


.part-b{
  width: 50%;
  display: flex;
  align-items: center;
}

.cover-art{
  width: 100%;
}
 
/* ===========  WelcomePage ================== */


/* ===========  Auth ================== */
.back-btn{
    cursor: pointer;
    display: block;
    background-color: var(--text-one);
    color: var(--secondary);
    padding: 0.6em;
    margin: 1em;
    width: max-content;
    text-decoration: none;
    border-radius: 1rem;
}

 

.auth-form{ 
    position: relative;
    display: block; 
    left: 50%;
    top: 50%;
    transform: translate(-50%,50%);
    width: max-content;
    padding: 2em;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 1px 2px 15px rgba(0,0,0,0.3);
}

.auth-form label{
    font-size: 16pt;
}


.auth-form .input{
    width: 300px;
    height: 40px;
    padding: 0.2em;
    font-size: 16pt;
}

.auth-form .btn{
    background-color: var(--text-one);
    color: var(--secondary);
    margin: 1em 0;
    font-size: 12pt;
    padding: 1em;
    border: none;
    display: block;
    width: 100%;
    border-radius: 0.5rem;
}

/* ===========  Auth ================== */

/* ===========  Carousel ================== */


.carousel-container {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: auto;
  overflow: hidden;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.carousel {
  position: relative;
  width: 100%;
  height: 512px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.carousel-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.carousel-slide p{
  margin-top: 0.2em;
  font-family: 'Poppins',sans-serif;
  text-align: justify;
}

.carousel-slide img {
  width: 80%;
  height: auto;
  border-radius: 10px;
  margin-top: 10px;
}

.image-fallback{
  height: 250px;
  width: 400px;
  background-color: var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-slide.active {
  opacity: 1;
}

.carousel-indicators {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.indicator {
  width: 12px;
  height: 12px;
  background-color: #ddd;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.indicator.active {
  background-color: #333;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(51, 51, 51, 0.7);
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.carousel-button:hover {
  background-color: #333;
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}

.carousel-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.quiz-box{
  text-align: center;
  margin: 1em 0;
}

.quiz-box .btn{
  background-color: var(--accent-one);
  color: var(--secondary);
  padding: 1em;
  border-radius: 15px;
  border: none;
  font-weight: 500;
  font-size: 12pt;
  cursor: pointer;
}

.quiz-box .btn-disabled{
  background-color: var(--text-two);
  color: var(--secondary);
  padding: 1em;
  border-radius: 15px;
  border: none;
  font-weight: 500;
  font-size: 16pt;
}



/* ===========  Carousel ================== */

/* ===========  Flashcard ================== */
.quiz {
    max-width: 600px;
    margin: auto;
    text-align: center;
  }

  /* Progress Bar */
  .progress-bar-container {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 5px;
    height: 10px;
    margin-bottom: 20px;
  }

  .progress-bar {
    height: 100%;
    background-color: #4caf50;
    border-radius: 5px;
    transition: width 0.3s ease;
  }

  .flashcard-container {
    position: relative;
    width: 300px;
    height: 200px;
    perspective: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .flashcard-side {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    backface-visibility: hidden;
    transition: transform 0.8s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .flashcard-front {
    background-color: #fff;
    transform: rotateY(0deg);
  }

  .flashcard-back {
    background-color: #f7f7f7;
    transform: rotateY(180deg);
  }

  /* Flip Animation */
  .flashcard-container.show-answer .flashcard-front {
    transform: rotateY(-180deg);
  }

  .flashcard-container.show-answer .flashcard-back {
    transform: rotateY(0deg);
  }

  /* Error Message */
  .error-message {
    color: red;
    margin-top: 10px;
    font-size: 14px;
  }

/* ===========  Flashcard ================== */

/* ===========  Result ================== */
.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.rs-btn {
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 14px;
  cursor: pointer;
  color: var(--secondary);
  border: none;
  border-radius: 0.3rem;
  background-color:var(--text-one);
}

/* ===========  Result ================== */
/* ===========  Feedback ================== */

.feedback{
  margin: 1em;
  background-color: var(--text-two);
  padding: 1em;
  border-radius: 1rem;
}

.feedback button{
  background-color: var(--accent-two);
  color: var(--secondary);
  border: none;
  padding: 0.5em 1em;
  border-radius: 2px;
}

/* ===========  Feedback ================== */


@media screen and  (max-width: 768px) {

  /* ===========  WelcomePage ================== */
  
  .welcome-wrap{
    height: 90vh;
    flex-wrap: wrap;
    justify-content: center;
  }

  .part-a{
    order: 2;
    width: 100%;
    padding: 0;
    justify-content: flex-start;
    align-items: center;
  }

  .part-b{
    order: 1;
    width: 100%;
  }

  .app-title{
    font-size: 2em;
    padding: 0.5em;
    text-align: center;
  }

  .info-cards{
    padding: 1em;
  }
  
  .info-cards .card{
    padding: 1em;
    border-radius: 2px;
  }

   
  
  /* ===========  WelcomePage ================== */
  
  /* ===========  Auth ================== */

  .auth-form{
    padding: 1em;
  }
  /* ===========  Auth ================== */
  
  /* ===========  Common ================== */

  .stack-title{
    text-align: center;
  }

  .info-cards{
    flex-wrap: wrap;
  }

  .footer{
    flex-wrap: wrap;
  }
  /* ===========  Common ================== */
  
  /* ===========  Carousel ================== */
  .carousel-container{
    width: 90%;
  }
  
  /* ===========  Carousel ================== */
  
  
  /* ===========  Flashcard ================== */
  .progress-bar-container{
    padding: 1em;
    width: 90%;
  }
  /* ===========  Flashcard ================== */


}