*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins',sans-serif;
}

:root{
  --primary: #00FF9C;
  --secondary: #fbf9f6;
  --text-one:#071437;
  --text-two:#99a1b7;
  --accent-one:#F44336;
  --accent-two:#E91E63;

}

body{
  background-color: var(--secondary);
}

